Entidades/XmlXsd/classeTpParte.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="Classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Classe">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Parte">
                <xs:complexType>
                  <xs:attribute name="Descricao" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Descricao" type="xs:string" use="required" />
            <xs:attribute name="Tipo" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>