Entidades/XmlXsd/foros.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="Foros">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Foro">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Comarca">
                <xs:complexType>
                  <xs:attribute name="Codigo" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="Nome" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Municipio">
                <xs:complexType>
                  <xs:attribute name="Codigo" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="Nome" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Vara">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Competencia">
                      <xs:complexType>
                        <xs:attribute name="Descricao" type="xs:string" use="required" />
                        <xs:attribute name="Tipo" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Codigo" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Nome" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Codigo" type="xs:unsignedShort" use="required" />
            <xs:attribute name="Nome" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>