Entidades/XmlXsd/obterNumeroSajDoProcesso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageId">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ServiceId" />
							<xs:element name="Version" />
							<xs:element name="MsgDesc" />
							<xs:element name="Code" type="xs:byte" />
							<xs:element name="FromAddress" />
							<xs:element name="ToAddress" />
							<xs:element name="Date" type="xs:date" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MessageBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Resposta">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Mensagem">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Codigo" type="xs:unsignedByte" />
													<xs:element name="Descricao" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>