Entidades/XmlXsd/obterNumeroUnificadoDoProcesso.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
	<xs:element name="Processo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OutroNumero" type="xs:unsignedLong" />
				<xs:element name="NumeroUnificado" type="xs:string" />
				<xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>